<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title | default: site.title }}</title>
    <link rel="stylesheet" href="{{ '/styles.css' | relative_url }}">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Martina Paez-Berru</h1>
        <p>Applied AI/ML Engineer & Data Scientist</p>
        <p class="view">
          <a href="https://linkedin.com/in/martina-paez-berru">LinkedIn</a><br>
          <a href="assets/Martina_Paez_Berru_Resume.pdf">Resume</a><br>
          <a href="mailto:mp4395@columbia.edu">Email</a>
        </p>
      </header>
      <section>
        {{ content }}
      </section>
      <footer>
        <p><small>© 2025 Martina Paez-Berru</small></p>
      </footer>
    </div>
    <script src="{{ '/scale_fix.js' | relative_url }}"></script>
  </body>
</html>